/* 
    General Styles
*/

body { 
  background: url("https://i.pinimg.com/originals/08/0f/c3/080fc325efa248454e59b84be24ea829.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card, .footer{
    background: #ffffffba;
}